[submodule "roles/ansible-role-virt-infra"]
	path = roles/ansible-role-virt-infra
    url = https://github.com/csmart/ansible-role-virt-infra.git

[submodule "roles/ansible-role-k8s-cluster"]
	path = roles/ansible-role-k8s-cluster
	url = https://github.com/perunslava/ansible-role-k8s-cluster.git
[submodule "roles/ansible-role-common-base"]
	path = roles/ansible-role-common-base
	url = https://github.com/perunslava/ansible-role-common-base.git
